---
import IconLink from "@/components/IconLink.astro";
import icon from "@/images/better-studres-icon.svg";
import chromeIcon from "@/images/chrome.svg";
import firefoxIcon from "@/images/firefox.svg";
import { Image } from "astro:assets";
---

<section
  class="min-h-screen 3xl:min-h-[700px] flex flex-col justify-center space-y-4"
>
  <Image src={icon} class="m-[-10px]" alt={"Better studres logo"} />
  <div class="space-y-2">
    <h1 class="font-bold text-4xl lg:text-6xl">Better Studres</h1>
    <p>
      Browser extension that improves Studres. <br />
      New sleek design and tools for enhanced productivity.
    </p>
  </div>
  <div class="flex gap-2 flex-wrap">
    <IconLink
      src={chromeIcon}
      href="https://chromewebstore.google.com/detail/better-studres/kamnhbpjhhhjlbandgpngdnplledombg"
      >Chrome</IconLink
    >
    <IconLink
      src={firefoxIcon}
      href="https://addons.mozilla.org/en-GB/firefox/addon/better-studres/"
      >Firefox</IconLink
    >
  </div>
</section>
