---
import H2 from "@/components/typography/H2.astro";
import oldUi from "@/images/old-ui.png";
import { Image } from "astro:assets";
---

<section class="lg:grid lg:grid-cols-2 lg:items-center py-5">
  <div>
    <H2>Fed up with navigating this outdated and clunky UI?</H2>
  </div>
  <div>
    <Image src={oldUi} alt={"old UI of studres"} height={350} />
  </div>
</section>
