---
import H2 from "@/components/typography/H2.astro";
import oldUi from "@/images/old-ui.png";
import { Image } from "astro:assets";
---

<section class="grid items-center min-h-screen">
  <div class="grid md:grid-cols-2 md:items-center py-5 items-center gap-8">
    <div>
      <H2>Fed up with navigating <br /> outdated and clunky UI?</H2>
    </div>
    <div>
      <Image
        src={oldUi}
        alt={"old UI of studres"}
        height={350}
        class={"shadow-xl rounded-xl"}
      />
    </div>
  </div>
</section>
