---
import Cta from "@/components/sections/Cta.astro";
import Features from "@/components/sections/Features.astro";
import Hero from "@/components/sections/Hero.astro";
import Problem from "@/components/sections/Problem.astro";
import Solution from "@/components/sections/Solution.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Better studres">
  <main class="max-w-screen-lg mx-auto px-5 py-5">
    <Hero />
    <Problem />
    <Solution />
    <Features />
    <Cta />
  </main>
</Layout>
