---
import { Image } from "astro:assets";
import IconLink from "../components/IconLink.astro";
import icon from "../images/better-studres-icon.svg";
import chromeIcon from "../images/chrome.svg";
import firefoxIcon from "../images/firefox.svg";
import polygonBg from "../images/polygon-bg.png";
import FeatureSection from "../layouts/FeatureSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Better studres">
  <main>
    <section class="min-h-screen lg:grid lg:grid-cols-2">
      <div class="place-content-center grid min-h-screen">
        <div class="max-w-md m-3 space-y-4">
          <Image src={icon} alt={"Better studres logo"} class="m-[-10px]" />
          <div class="space-y-1">
            <h1 class="font-bold text-6xl">Better studres</h1>
            <p class="leading-6">
              Browser extension to improve your Studres experience.
              <br />
              New sleek design and tools for enhanced productivity.
            </p>
          </div>
          <div class="flex space-x-2">
            <IconLink src={chromeIcon} href={""}>Chrome</IconLink>
            <IconLink src={firefoxIcon}>Firefox</IconLink>
          </div>
        </div>
      </div>
      <div class="hidden lg:block">
        <div class="relative w-full h-full overflow-hidden">
          <Image
            src={polygonBg}
            alt={""}
            class="absolute top-0 left-0 w-full h-full object-cover"
          />
          <div
            class="bg-gradient-to-tr from-white to-transparent absolute top-0 left-0 w-full h-full"
          >
          </div>
        </div>
      </div>
    </section>
    <FeatureSection>
      <h2>Improved UI</h2>
      <p>Completely overhauled for a smoother user experience.</p>
    </FeatureSection>
    <FeatureSection>
      <h2>Pin links</h2>
      <p>Add frequently used links for quick access.</p>
    </FeatureSection>
    <FeatureSection>
      <h2>Download files & folders</h2>
      <p>Just right-click and select "Download" on a file.</p>
    </FeatureSection>
    <FeatureSection>
      <h2>Dark mode</h2>
      <p>Reduce eye strain with a sleek dark mode.</p>
    </FeatureSection>
    <section></section>
  </main>
</Layout>
