<div
  class="max-w-screen-lg w-full px-5 fixed top-0 left-1/2 -translate-x-1/2 bg-white flex items-baseline py-2"
>
  <a href="/" class="font-bold text-xl flex-grow">Better Studres </a>
  <div class="space-x-2">
    <a href="/">Features</a>
    <a href="/faq">FAQ</a>
  </div>
</div>
